@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Condensed'),
        url('../assets/fonts/RobotoCondensed-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'),
        url('../assets/fonts/RobotoCondensed-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Condensed'),
        url('../assets/fonts/RobotoCondensed-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed'),
        url('../assets/fonts/RobotoCondensed-BoldItalic.ttf') format('opentype');
}

// @font-face {
//     font-family: 'Roboto Condensed';
//     font-style: normal;
//     font-weight: 700;
// }

// @font-face {
//     font-family: 'Roboto Condensed';
//     font-style: normal;
//     font-weight: 800;
//     src: local('Trap'),
//         url('../assets/fonts/Trap-ExtraBold.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Trap';
//     font-style: normal;
//     font-weight: 900;
//     src: local('Trap'), 
//         url('../assets/fonts/Trap-Black.otf') format('opentype');
// }
